{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      {% if user %}
        <div>

          <button id="twit-btn" type="button" class="btn" onclick="showPopup();">글쓰기</button>

        </div>
      {% endif %}
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
        {% for twit in twits %}
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">


            <div class="twit-author">
              <img id="small-profile" src="{{twit.profile}}" alt="프사" />
              <label id="nickname-label"> {{twit.User.nick}} </label>
            </div>

            {% if not followerIdList.includes(twit.User.id) and twit.User.id !== user.id %}
              <button class="twit-follow">팔로우하기</button>
            {% endif %}

             <!-- 더보기메뉴 - 사진저장 버튼 추가 -->
             {% if twit.img %}
             <div class="twit-more">
               <img class="more-img" src="/img/more.png">
               <div class="twit-more-content">
                 <a href="{{twit.img}}" download="image">사진 저장하기</a>
                 </div>
             </div>
           {% endif %}

            <div class="twit-content">{{twit.content}}</div>

            {% if twit.User.id == user.id %}
              <div class="twit-div"><button class="twit-delete">삭제</button></div>
            {% endif %}
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}" alt="섬네일"></div>
            {% endif %}

            <!-- 좋아요 기능 -->
            {% set likerIdList = [] %}
            {% set test = twit.Liker %}
              {% for i in twit.Liker %}
                {% set likerIdList = (likerIdList.push(i.id), likerIdList) %}
              {% endfor %}
              
              {% if not likerIdList.includes(user.id) and user.id %}
               <button class="twit-like"><img class="twit-like-img" src="/img/heart.png"></button>
             {% elif likerIdList.includes(user.id) and user %}
              <button class="twit-unlike"><img class="twit-like-img" src="/img/heart_full.png"></button>
             {% endif %}
              <div class="twit-liker-num">좋아요 {{twit.Liker.length}}개</div>

            <form id="comment-form">
                <input type="hidden" value="{{twit.id}}" class="comments">
                <div><input id="comment" type="text" placeholder="댓글"></div>
                <button type="submit" class="comment-btn">등록</button>
                <table id="comment-list">
                  <thead>
                  <tr class="comment-list-th">
                    <th>아이디</th>
                    <th>댓글</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for comment in comments %}
                    <tr class="comment-list-content">
                      <td>{{comment.commenter}}</td>
                      <td>{{comment.comment}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    function showPopup(){
      window.open("twit","글쓰기","width=400, height=150, top=10, left=10");
    }

    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }

    document.querySelectorAll(".twit-follow").forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });

    document.querySelectorAll(".twit-delete").forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.parentNode.querySelector('.twit-id').value;
        
        if (confirm('삭제하시겠습니까?')) {
          axios.post(`/post/${twitId}/delete`)
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
          }
        })
      });

    //좋아요 버튼 기능
    document.querySelectorAll('.twit-like').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        console.log('클릭이벤트');
        if (myId) {
              var twitId = tag.parentNode.querySelector('.twit-id').value;

              axios.post(`/post/${twitId}/like`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
              }
            })
          });

    //좋아요 취소
    document.querySelectorAll('.twit-unlike').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
              var twitId = tag.parentNode.querySelector('.twit-id').value;

              axios.delete(`/post/${twitId}/unlike`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
        }
      });
    });

    getComment();
    // 댓글 로딩
    async function getComment() {
      try {
        document.querySelectorAll('#comment-form').forEach( function(tag) {
        const post = tag.parentNode.querySelector('.comments').value;
        const comments = axios.get('/comments', {params: { id: post }})
          .then((res) => {
            const users = res.data;
            const tbody = tag.parentNode.querySelector('#comment-list tbody');
            tbody.innerHTML = '';
            users.map(function (user) {
              const row = document.createElement('tr');
              // 로우 셀 추가
              let td = document.createElement('td');
              td.textContent = user.commenter;
              row.appendChild(td);
              td = document.createElement('td');
              td.textContent = user.comment;
              row.appendChild(td);
              tbody.appendChild(row);
            });
          })
        .catch((err) => {
          console.error(err);
        });
      });
      } catch (err) {
        console.error(err);
      }
    }
    // 댓글 등록
    //document.getElementById('comment-form').addEventListener('submit', (e) => {
    document.querySelectorAll('#comment-form').forEach( function(tag) {
    tag.addEventListener('submit', async function(e) {
      e.preventDefault();
      const id = document.querySelector('#my-nick').value;
      const comment = tag.parentNode.querySelector('#comment').value;
      const post = tag.parentNode.querySelector('.comments').value;
      if (!comment) {
        return alert('댓글을 입력하세요');
      }
      try {
        await axios.post('/comments', { id, comment, post });
        getComment();
      } catch (err) {
        console.error(err);
      }
      e.target.comment.value = '';
    });
  });
  </script>

{% endblock %}
