{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  document.getElementById('profile-label').style.visibility = 'visible';
  document.getElementById('profile-btn').style.visibility = 'visible';

  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function(e) {
      const formData = new FormData();
      console.log(this, this.files);
      
      formData.append('img', this.files[0]);
      axios.post('/user/profile', formData)
        .then((res) => {
          document.getElementById('profile-url').value = res.data.url;
          document.getElementById('img-profile').src = res.data.url;
          document.getElementById('img-profile').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
</script>
{% endblock %}

