* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; cursor: pointer;}
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background: lightcoral;
}

#link-main {
  font-family: 'KoPubDotumMedium';
  text-decoration: none;
  font-size : 14px;
  color: #333;
  border-radius: 4px;
  border: 1px solid silver;
  padding: 5px;
}

.user-name { font-weight: bold; font-size: 20px; text-align: center; font-family: 'S-CoreDream-6Bold'; }
.count { font-weight: bold; color: crimson; font-size: 18px; }
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }

#profile { display: none; }
#profile-label {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 20px;
  line-height: 40px;
}

#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: crimson;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  min-height: 100px;
}

.twit-div{
  height:20px;
}
.twit-delete{
  float: right;
  background: rgb(255, 255, 255);
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.follow_view{
  width:500px;
  height:200px;

}

.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; margin-bottom: 10px; }

.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}


.img-profile {
  text-align: center;
}

#img-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 5px;
}

.half {
  text-align: center;
  font-family: 'S-CoreDream-3Light';
}

.profile-label {
  text-align: center;
}

.profile-change {
  text-align: right;
  margin-bottom: 10px;
}

#profile-btn {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  background: lightcoral;
  font: 12px "Malgun Gothic";
}

#my-profile {
  margin-left: 70px;
}

#small-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#nickname-label {
  margin-left: 5px;
}

.twoBtn {
  font-family: 'KoPubDotumMedium';
  font-weight: bold;
}

.imgBtn {
  font-family: 'KoPubDotumMedium';
}

.twit-more {
  position: relative;
  float:right;
  display: inline-block;
  padding: 0px 10px;

}

.twit-more .more-img{
  width:20px;
  height:20px;
  
}
.twit-more .twit-more-content{
  display: none;
  position: absolute;
  right: 0;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.twit-more:hover .twit-more-content {
  display: block;
}

.twit-more .twit-more-content a{
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
}

.twit-more-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.twit-like {
  position: absolute;
  bottom : 30px;
  right: 24px;
  border: none;
  background: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-top: 20px;
}

.twit-unlike {
  position: absolute;
  bottom : 30px;
  right: 24px;
  border: none;
  background: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.twit-liker-num {
  position: absolute;
  bottom : 5px;
  right: 10px;
}

.twit-like-img {
  height: 25px;
  width: 25px;
}

@font-face {
  font-family: 'KoPubDotumMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic400';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.twit-img { text-align: center; }

.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; margin-top: 10px; margin-bottom: 10px; }


footer { text-align: center; }
